<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.sample.SysLoginLog">
    <!--@mbg.generated-->
    <!--@Table sys_login_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logname" jdbcType="VARCHAR" property="logname" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="succeed" jdbcType="VARCHAR" property="succeed" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, logname, userid, createtime, succeed, message, ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sample.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log (logname, userid, createtime, 
      succeed, message, ip
      )
    values (#{logname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{succeed,jdbcType=VARCHAR}, #{message,jdbcType=LONGVARCHAR}, #{ip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sample.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logname != null">
        logname,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="succeed != null">
        succeed,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logname != null">
        #{logname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="succeed != null">
        #{succeed,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sample.SysLoginLog">
    <!--@mbg.generated-->
    update sys_login_log
    <set>
      <if test="logname != null">
        logname = #{logname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="succeed != null">
        succeed = #{succeed,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sample.SysLoginLog">
    <!--@mbg.generated-->
    update sys_login_log
    set logname = #{logname,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      succeed = #{succeed,jdbcType=VARCHAR},
      message = #{message,jdbcType=LONGVARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>