<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.sample.SysMenu">
    <!--@mbg.generated-->
    <!--@Table sys_menu-->
    <id column="id" property="id" />
    <result column="code" property="code" />
    <result column="pcode" property="pcode" />
    <result column="pcodes" property="pcodes" />
    <result column="name" property="name" />
    <result column="icon" property="icon" />
    <result column="url" property="url" />
    <result column="num" property="num" />
    <result column="levels" property="levels" />
    <result column="ismenu" property="ismenu" />
    <result column="tips" property="tips" />
    <result column="status" property="status" />
    <result column="isopen" property="isopen" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, pcode, pcodes, `name`, icon, url, num, levels, ismenu, tips, `status`, 
    isopen
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_menu
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sample.SysMenu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_menu (code, pcode, pcodes, `name`, icon, url, num, levels, 
      ismenu, tips, `status`, isopen)
    values (#{code}, #{pcode}, #{pcodes}, #{name}, #{icon}, #{url}, #{num}, #{levels}, 
      #{ismenu}, #{tips}, #{status}, #{isopen})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sample.SysMenu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="pcode != null">
        pcode,
      </if>
      <if test="pcodes != null">
        pcodes,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="levels != null">
        levels,
      </if>
      <if test="ismenu != null">
        ismenu,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="isopen != null">
        isopen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code},
      </if>
      <if test="pcode != null">
        #{pcode},
      </if>
      <if test="pcodes != null">
        #{pcodes},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="icon != null">
        #{icon},
      </if>
      <if test="url != null">
        #{url},
      </if>
      <if test="num != null">
        #{num},
      </if>
      <if test="levels != null">
        #{levels},
      </if>
      <if test="ismenu != null">
        #{ismenu},
      </if>
      <if test="tips != null">
        #{tips},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="isopen != null">
        #{isopen},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sample.SysMenu">
    <!--@mbg.generated-->
    update sys_menu
    <set>
      <if test="code != null">
        code = #{code},
      </if>
      <if test="pcode != null">
        pcode = #{pcode},
      </if>
      <if test="pcodes != null">
        pcodes = #{pcodes},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="num != null">
        num = #{num},
      </if>
      <if test="levels != null">
        levels = #{levels},
      </if>
      <if test="ismenu != null">
        ismenu = #{ismenu},
      </if>
      <if test="tips != null">
        tips = #{tips},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
      <if test="isopen != null">
        isopen = #{isopen},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sample.SysMenu">
    <!--@mbg.generated-->
    update sys_menu
    set code = #{code},
      pcode = #{pcode},
      pcodes = #{pcodes},
      `name` = #{name},
      icon = #{icon},
      url = #{url},
      num = #{num},
      levels = #{levels},
      ismenu = #{ismenu},
      tips = #{tips},
      `status` = #{status},
      isopen = #{isopen}
    where id = #{id}
  </update>
</mapper>