<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.SysNoticeMapper">
  <resultMap id="BaseResultMap" type="com.sample.SysNotice">
    <!--@mbg.generated-->
    <!--@Table sys_notice-->
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="type" property="type" />
    <result column="content" property="content" />
    <result column="createtime" property="createtime" />
    <result column="creater" property="creater" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, `type`, content, createtime, creater
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_notice
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_notice
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sample.SysNotice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_notice (title, `type`, content, createtime, creater)
    values (#{title}, #{type}, #{content}, #{createtime}, #{creater})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sample.SysNotice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="creater != null">
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="createtime != null">
        #{createtime},
      </if>
      <if test="creater != null">
        #{creater},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sample.SysNotice">
    <!--@mbg.generated-->
    update sys_notice
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="createtime != null">
        createtime = #{createtime},
      </if>
      <if test="creater != null">
        creater = #{creater},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sample.SysNotice">
    <!--@mbg.generated-->
    update sys_notice
    set title = #{title},
      `type` = #{type},
      content = #{content},
      createtime = #{createtime},
      creater = #{creater}
    where id = #{id}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_notice
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.title}
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.type}
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.content}
        </foreach>
      </trim>
      <trim prefix="createtime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createtime}
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.creater}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_notice
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id} then #{item.title}
          </if>
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.type != null">
            when id = #{item.id} then #{item.type}
          </if>
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.content != null">
            when id = #{item.id} then #{item.content}
          </if>
        </foreach>
      </trim>
      <trim prefix="createtime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createtime != null">
            when id = #{item.id} then #{item.createtime}
          </if>
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.creater != null">
            when id = #{item.id} then #{item.creater}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_notice
    (title, `type`, content, createtime, creater)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.title}, #{item.type}, #{item.content}, #{item.createtime}, #{item.creater}
        )
    </foreach>
  </insert>
</mapper>