<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="generatedClassPathList">
          <list>
            <option value="E:\Work_IDEA2019\test\src\main\java\org\example" />
          </list>
        </option>
        <option name="javaMapperPackage" value="org.example.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.sample" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="test" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokBuilderAnnotation" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="test">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="org.example.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.sample" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="noJdbcType" value="true" />
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="guns:code_dbinfo">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CodeDbinfo" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:sys_dept">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysDept" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:sys_login_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysLoginLog" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:sys_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysMenu" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:sys_notice">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysNotice" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:sys_relation">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysRelation" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="guns:tb_deptorder">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="dept_id" />
                  <option name="javaModelName" value="TbDeptorder" />
                  <option name="moduleName" value="test" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="updateBatchSelective" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>